@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.logo-image{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    /* overflow: hidden; */
    margin-top: -12px;
    /* margin-left: -100px; */
}



/* bg-video  */
#myVideo {
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/* bg for cards */
#bg-color{
    background-color: #E6E6FA;
}

#wave{
    /* background-image: url('wave.png'); */
   margin-top: 0px;
   /* scroll-behavior: smooth; */
    background-image: url('imgs/Untitle4.png');
    background-attachment: fixed;
    background-size: 105%;
    
    /* scroll-margin: 400px; */
    /* background-image: url('circle-scatter-haikei6.png'); */
    /* background-image: url('blurry-gradient-haikei3.png'); */
    /* background-image: url('blob-scene-haikei2.png'); */
    /* background-image: url('wave11.svg'); */
    /* background-repeat:repeat-x; */
    
}

#wavu{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 230px;
    /* height: 100px; */
    /* width: 1490px; */
    
}

#wavu-end{
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -20px;
}

/* #is{
    background-image: url('wave10.png');
} */

#container{
/* background-image: url('bg-laptop2.jpeg');
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */

/* background: rgb(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.3); */

background: rgba( 255, 255, 255, 0.05);
box-shadow: 0 30px 35px 0 rgba(0, 0, 0, 0.05);
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}





/* image-slider */

   @-webkit-keyframes scroll {  
    0% {  
     transform: translateX(0);  
    }  
    100% {  
     transform: translateX(calc(-250px * 7));  
    }  
   }  
   @keyframes scroll {  
    0% {  
     transform: translateX(0);  
    }  
    100% {  
     transform: translateX(calc(-250px * 7));  
    }  
   }  

    .slide-track{
    /* margin-top: 40px; */
    justify-content: center;
    align-items: center;
    }

   .slider {  
    /* background: white;   */
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);  
    height: 100px;  
    margin: auto;  
    margin-top: 150px;
    overflow: hidden;  
    position: relative;  
    /* width: 1160px; */
    /* max-width: 400px; */
    overflow: hidden;
   }  

   .slider::before, .slider::after {  
    background: linear-gradient(to right , rgba(255, 255, 255, 0) 100%);  
    content: "";  
    height: 100px;  
    position: absolute;  
    width: 200px;  
    z-index: 2;  
   }  

   .slider::after {  
    right: 0;  
    top: 0;  
    transform: rotateZ(180deg);  
   }  

   .slider::before {  
    left: 0;  
    top: 0;  
   }  

   .slider .slide-track {  
    -webkit-animation: scroll 40s linear infinite;  
        animation: scroll 20s linear infinite;  
    display: flex;  
    width: calc(150px * 14);  
   }  

   .slider .slide {  
    max-height: 350px;  
    width: 250px;  
   } 
   @media only screen and(max-width:500px){
    .slider .slide{
        height: 100px;
        max-width: 100px;
        background-attachment: scroll;
    }    
   }

/* footer design  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

#foot{
margin-top: -170px;
}

.footer-distributed{
    margin-top: 440px;
	background: #E6E6FA;
    
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px ;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #000000;
	/* font: normal 36px 'Open Sans', cursive; */
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #000000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    color: #000000;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #000000;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


@media only screen and(max-width:500px) {
    #myVideo{
        background-size: cover ;
    } 
}    
