@media only screen and(max-width:500px) {
    #myVideo{
        background-size: cover ;
     
    }
}


#myVideo {
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    

}