 /* bg-video  */
#myVideo {
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* bg for cards */
#bg-color{
    background-color: #E6E6FA;
}

#wave{
    /* background-image: url('wave.png'); */
   margin-top: 0px;
   scroll-behavior: smooth;
    background-image: url('polygon-scatter-haikei5.png');
    /* background-image: url('circle-scatter-haikei6.png'); */
    /* background-image: url('blurry-gradient-haikei3.png'); */
    /* background-image: url('blob-scene-haikei2.png'); */
    /* background-image: url('wave11.svg'); */
    /* background-repeat:repeat-x; */
}

#wavu{
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 230px;
    /* height: 100px; */
    /* width: 1490px; */
    
}

#wavu-end{
    margin-top: 0px;
    margin-left: -16px;
    margin-right: -16px;
}

/* #is{
    background-image: url('wave10.png');
} */

#container{
/* background-image: url('bg-laptop2.jpeg');
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); */

/* background: rgb(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.3); */

background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba(11, 26, 241, 0.37);
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* image-slider */

   @-webkit-keyframes scroll {  
    0% {  
     transform: translateX(0);  
    }  
    100% {  
     transform: translateX(calc(-250px * 7));  
    }  
   }  
   @keyframes scroll {  
    0% {  
     transform: translateX(0);  
    }  
    100% {  
     transform: translateX(calc(-250px * 7));  
    }  
   }  

    .slide-track{
    /* margin-top: 40px; */
    justify-content: center;
    align-items: center;
    }

   .slider {  
    /* background: white;   */
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);  
    height: 100px;  
    margin: auto;  
    margin-top: 150px;
    overflow: hidden;  
    position: relative;  
    /* width: 1160px; */
    /* max-width: 400px; */
    overflow: hidden;
   }  

   .slider::before, .slider::after {  
    background: linear-gradient(to right , rgba(255, 255, 255, 0) 100%);  
    content: "";  
    height: 100px;  
    position: absolute;  
    width: 200px;  
    z-index: 2;  
   }  

   .slider::after {  
    right: 0;  
    top: 0;  
    transform: rotateZ(180deg);  
   }  

   .slider::before {  
    left: 0;  
    top: 0;  
   }  

   .slider .slide-track {  
    -webkit-animation: scroll 40s linear infinite;  
        animation: scroll 20s linear infinite;  
    display: flex;  
    width: calc(150px * 14);  
   }  

   .slider .slide {  
    max-height: 350px;  
    width: 250px;  
   } 
   @media only screen and(max-width:500px){
    .slider .slide{
        height: 100px;
        max-width: 100px;
        background-attachment: scroll;
    }    
   }



@media only screen and(max-width:500px) {
    #myVideo{
        background-size: cover ;
     
    } 
}    
