:root {
    --text-color: #e1e8ea;
    color: #e1e8ea;
    --background-color: #000000;
    --accent-color: #d49466;
  
  }
  
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .navbar {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color);
    padding: 8px 12px;

  }
  
  .navbar__logo {
    font-size: 24px;
    color: var(--text-color);
  }
  
  .navbar__logo i {
    color: var(--accent-color);
  }
  
  .navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
   /* justify-content: space-between; */
  }
  
  .navbar__menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
  }
  
  .navbar__menu li {
    padding: 8px 12px;
  }
  
  .navbar__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0px;
  }
  
  .navbar__icons li {
    padding: 12px 12px;
  }
  
  .navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }
    .navbar__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .navbar__menu li {
      width: 100%;
      text-align: center;
    }
    .navbar__icons {
      display: none;
      justify-content: center;
      width: 100%;
    }
    .navbar__toggleBtn {
      display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
      display: flex;
    }
  }
  